<div class="row">
  <div class="col-md-8">
    <h1>Insta Signpost</h1>
    <div class="map_container">
      <div id="map_canvas"></div>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Instagram Media</h2>
    <div class="insta_container">
      <div id="insta_media"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    get_location();
  });
</script>
