<div class="row">
  <div class="col-md-3">
    <h1>Venues</h1>
    <div id="venue_inf"></div>
  </div>
  <div class="col-md-9">
    <h1>Maps</h1>
    <div class="map_container">
      <div id="map_canvas"></div>
    </div>
    <h2>Instagram Media</h2>
    <div class="insta_container">
      <div id="insta_media"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    get_location();
  });
</script>
