<div class="row">
  <div class="col-md-8">
    <h1>Insta Signpost</h1>
    <div id="map_canvas"></div>
  </div>
  <div class="col-md-4">
    <h2>Instagram Media</h2>
    <div id="insta_media"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    get_location();
  });
</script>
